/* line 4, ../../assets/sass/pages/news.scss */
.region-content #block-views-block-todays-zika-news-english-block-1,
.region-content #block-views-block-todays-zika-news-spanish-block-1,
.region-content #block-views-block-todays-zika-news-french-block-1,
.region-content #block-views-block-todays-zika-news-portuguese-block-1 {
  float: left;
  width: 40%;
  margin: 2em 4em;
}
