img {
  img_right {
    float:right;
    padding: 5px 0px 5px 5px;
  }
  img_left {
    float:left;
    padding: 5px 5px 5px 0px;
  }
}
a {
  @include single-transition(all,.25s,ease);
}
.clearfix:before, .clearfix:after {
  display: inherit;
}
