.page-node-type-author-profile {
  .field--name-field-image {
    float:left;
    display:inline;
    img {
      @include border-radius(50%);
      @include box-shadow(#888 -2px -2px 5px);
      margin-right:5px;
      margin-bottom:5px;
      max-width:80px;
      max-height:80px;
    }
  }
  .view-posts .views-field-title {
    font-weight:bold;
  }
  .views-field-created {
   color:grey;
   @include adjust-font-size-to(14px);
  }
}
