.path-frontpage #wrap {
  h1.page-header {
    display:none;
  }
  h1,h2,h3,h4,h5 {
   font-weight: bold;
  }
  a.feed-icon {
    float:right;
    margin-top:15px;
  }
}
.view-frontpage {
  .view-content {
    @extend .row;
    .views-row {
      @extend .col-md-6;
      h3.views-field-title-1 {
        @include adjust-font-size-to(28px);
        line-height:1.3em;
        letter-spacing:-1px;
        font-weight:700;
        a {
          color:$dark_grey;
          transition:all .15s ease-in-out;
          &:hover {
            text-decoration:none;
            color:$light_green;
          }
        }

      }
      .views-field-field-news-author {
         color:$light_grey;
         float:left;
         margin-right:5px;
      }
      .views-field-created {
        color:$light_grey;
        &:before {
        content: "/\00a0";
        color: $light_grey;
       }
      }
      .views-more-link {
        position:relative;
        color:$medium_grey;
        @include adjust-font-size-to(12px);
        transition:all .15s ease-in-out;
        border: 1px solid $medium_grey;
        border-radius:22px;
        padding:6px 32px 6px 22px;
        &:hover {
           text-decoration:none;
           color:$light_green;
           border: 1px solid $light_green;
        }
        &:after {
          position:absolute;
          right:10px;
          top:7px;
          font-family:FontAwesome;
          content:"\f105";
          @include adjust-font-size-to(20px);
        }
      }
    }
  }
}

