@import "compass/css3/transition";
.region-content #block-views-block-todays-zika-news-english-block-1-2,
.region-content #block-views-block-todays-zika-news-spanish-block-1,
.region-content #block-views-block-todays-zika-news-french-block-1,
.region-content #block-views-block-todays-zika-news-portuguese-block-1 {
  float: left;
  width: 45%;
  margin: 2em 2%;
  h2.block-title {color: $light_green; }
  table {
    img[height="1"],td>font>br:first-of-type {display:none;}
    line-height:1;
    td { padding: 15px 7px; }
  }
  @media (max-width:$grid-float-breakpoint-max) {
   width:100%;
   display:block;
   float:none;
  }
  article {
    margin-bottom: 2em;
    .aggregator-item-title {
      font-weight: bold;
    }
    .aggregator-item-content img {
      float: left;
      margin-right: 0.5em;
      margin-top: 0.4em;
    }
  }
}

.region-content #block-views-block-todays-zika-news-portuguese-block-1 {
  clear: left;
}

.region-sidebar-second #block-views-block-todays-zika-news-portuguese-block-1 {

}

#wrap .view-news {
 .field_content {
    margin-bottom: 2em;
  }
  h3.views-field-title { 
    @include adjust-font-size-to(28px,1.25);
    font-weight:700;
    margin-top:0;
    letter-spacing:-1px;
    a {
      color:black;
      @include single-transition(color,.18s,ease);
      &:hover {
       color:$light_green;
       text-decoration:none;
      }
    }
  }
  .views-field-field-news-author {
   .field-content {
     letter-spacing:2px;
     display:inline-block;
     margin-top:10px;
     @include adjust-font-size-to(13px,1.3);
     text-transform:capitalize;
     margin-bottom:0;
     color:$grey;
     a {
      color:$grey;
      }
    }
  }
  .views-field-created {
    .field-content {
      letter-spacing:6px;
      margin-top:10px;
      font-family: Open Sans;
      float:right;
      display:inline-block;
      right:0;
      top:0;
      color:$grey;
      @include adjust-font-size-to(13px);
    }
  }
  .views-field-body {
    .field-content {
     letter-spacing:.2px;
     line-height:1.4;
    }
  }
}
.page-node-type-article #wrap{
  .page_title_wrap .region-page-title h1.page-header {
   letter-spacing:-3px;
   font-weight:800;
   margin:20px 0;
   
  }
  .blog_meta {
    margin-bottom:30px;
    display:block;
    color:$grey;
    font-size:13px;
    font-weight:400;
    padding-right:4px;
    text-transform:capitalize;
    .blog_author, .blog_date {
      margin-bottom:0px;
      letter-spacing:2px;
      display:inline-block;
      line-height:1.3
   }
   .blog_date {
      float:right;
      padding-right:5px;
   }
  }
  .field--name-field-news-author {
     margin-top:20px;
    .field--name-field-image {
      float:left;
      img {
        @include border-radius(50%);
        @include box-shadow(#888 -2px -2px 5px);
        margin-right:10px;
        margin-bottom:10px;
        max-height:80px;
        max-width:80px;
      }
    }
    span.author_name {
      color:grey;
      display:inline;
      float:left;
      a {
        color:grey;
      }
   }
   .field--name-field-author-organization {
    color:grey;
    &:before {
      content:' | ';
    }
   }
  
  .field--name-body {
   color:$light_grey;
   
  }

  }

  .blog_meta + div > .field--name-field-image {
    float: right;
  }
  
}
