.page-node-type-resource {
  .main-container { margin-top:40px; }
  #wrap h1.resource_title {
   font-size:36px;
   font-weight:bold;
   line-height:1.2;
   letter-spacing:-3px;
   
  }
  .post_date {
   color:$grey;
   font-size:13px;
   letter-spacing:2px;
  }
  article .field--label-above .field--label {
    font-size: $font-size-large;
    font-weight: bold;
  }

  .field--name-field-type-of-resource {
    clear: both;
  }

  .field--name-field-country + section,
  .field--name-field-source-organization + section {
    margin-top: 2em;

    > h2 {
      display: none;
    }

    &::before {
      content: "Leave a reply";
      font-size: $font-size-h2;
      font-weight: bold;
      width: 100%;
    }
  }

    .field--name-field-image {
      float: right;
    }
   article {
    .file .file-size {
      font-size: $font-size-small;
      margin-left: 0.5em;

      &::before {
        content: "(";
      }

      &::after {
        content: ")";
      }
    }

  .field .field__items {
    margin-left: 1em;
    font-size: 0.8em;
  }
  }

   #wrap .page_title_wrap {
     background-color: $body-bg;
   }
}
#wrap .view-search-materials .view-header{
  border:none;
  background:transparent;
  padding:0 0 1em 0;
  margin-bottom:20px;
  margin-top:0;
}

#wrap .view-featured-resources .view-header {
  border:1px solid $lighter-grey;
  background: $lightest-grey;
  padding:1em;
  margin-bottom:20px;
  margin-top:20px;
}
#wrap .view-taxonomy-term, #wrap .view-search-materials, #wrap .view-featured-resources {
  .view-header {
    .block_header{
      color:$light_green;
      font-size:75px;
      text-align:center;
      display:block;
      width:100%;
      margin:16px 0;
    }
    h4 {
      border-bottom:1px solid $lighter-grey;
      @include adjust-font-size-to(20px);
      padding:17px 0 20px;
      font-weight:700;
      line-height:20px;
      text-align:center;
    }
    .grey_box {
      position: relative;
      text-align:center;
      margin-top:15px;
      @include single-transition('all', '0.18s','ease');
      border: none;
      display: inline-block;
      padding: 6px 16px 6px 28px;
      cursor: pointer;
      white-space: nowrap;
      margin-bottom: 20px;
      color: $dark_green;
      background: $lighter_grey;
      text-transform: uppercase;
      @include adjust-font-size-to(11px);
      font-weight:bold;
      letter-spacing: 2px;
      &:hover {
        color:black;
        text-decoration:none;
        background:$grey;
      }
    }
  }
  .views-view-grid {
    .views-row {
      display:flex;
      flex-flow: row wrap;
      justify-content: space-around;
     }
   }
  .views-col {
    padding:1em;
    @media (max-width:$screen-sm) {
      width:75% !important;
      margin: 0 auto;
      clear:both;
    }
    .record {
      border: 1px solid $lighter_grey;
      height:100%;
    .views-field-title {
      padding: 0 .5em .5em .5em;
      .field-content {
        @include adjust-font-size-to(16px);
        font-weight:bold;
        a {
          color:black;
          letter-spacing: -0.75px;
          display: block;
          line-height: 1.4em;
        }
      }
    }
    .field--name-body {
      color:$grey;
      padding: 1em;
      @include adjust-font-size-to(14px);
      display:none;
    }
    .views-field-field-resource-video, .views-field-field-image {
      img {
      width:100%;
      }
    }
    .views-field-field-type-of-resource {
      overflow:auto;
      .field-content {
        background:$light_green;
        display:inline-block;
        margin: 1em;
        @include adjust-font-size-to(13px);
        font-weight: bold;
        float:left;
        padding:4px;
        color:white;
        &:after {
         content:', ';
         color: white;
       }
       &:last-of-type:after {
        content:'';
       }
       a {
         color:white;
       }
     }
  }
  }
 }
}
.path-featured-resources-sex .block_header object{
  height:75px;
}
