{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.utility_left: Items at the very top left region.
 * - page.utility_right: Items at the very top right region.
 * - page.banner: Items for logo and above nav region.
 * - page.header: Items for the header region.
 * - page.jumbotron: Dispay full screen jumbotron over the content area.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer_left: Items for the footer region.
 * - page.footer_center: Items for the footer region.
 * - page.footer_right: Items for the footer region.
 * - page.footer_bottom: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup templates
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Top Links #}
{% if page.utility_left or page.utility_right %}
{% block top %}
<section class="top_bar">
  <div class="container">
   <div class="row">
    <div class="col-sm-6">
      {{ page.utility_left }}
    </div>
    <div class="col-sm-6">
      {{ page.utility_right }}
    </div>
   </div>
  </div>
</section>
{% endblock %}
{% endif %}
{# Banner  & Navbar #}
<header role="banner">
 {# Banner #}
 {% if page.banner %}
   {% block banner %}
     <div class="banner">
       {{ page.banner }}
     </div>
   {% endblock %}
 {% endif %}

{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container-fluid,
      ]
    %}
      <div{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
        <div class="navbar-header">
          {{ page.navigation }}
          {# .btn-navbar is used as the toggle for collapsed navbar content #}
          {% if page.navigation_collapsible %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          {% endif %}
        </div>

        {# Navigation (collapsible) #}
        {% if page.navigation_collapsible %}
          <div class="navbar-collapse collapse">
            <div class="container">
              {{ page.navigation_collapsible }}
            </div>
          </div>
        {% endif %}
        </div>
      {% endblock %}
    </header>
  {% endif %}

{# Jumbotron #}
{% if page.jumbotron %}
{% block jumbotron %}
  <div class="jumbotron_image">
      {{ page.jumbotron }}
  </div>
{% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container container js-quickedit-main-content">
    <div class="row">

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>
      {# Top Bar #}
      {% if page.header %}
      {% block header %}
         <div class="col-sm-12" role="heading">
         {{ page.header }}
         </div>
       {% endblock %}
       {% endif %}

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

<footer class="footer">
{% if page.footer_left or page.footer_right or page.footer_center or page.footer_bottom %}
  {% block footer %}
    <div class="container">
     <div class="row footer_wrap">
      {% if page.footer_left %}
          <div class="footer_left">
          {{ page.footer_left }}
         </div>
      {% endif %}
      {% if page.footer_center %}
          <div class="footer_center">
          {{ page.footer_center }}
         </div>
      {% endif %}
      {% if page.footer_right %}
          <div class="footer_right">
          {{ page.footer_right }}
         </div>
      {% endif %}
    </div>
   </div>
  <section class="footer_bottom">
   <div class="container">
    <div class="row">
      {% if page.footer_bottom %}
          <div class="col-md-6">
          {{ page.footer_bottom }}
          </div>
       {% endif %}
     </div>
   </div>
  </section>
  {% endblock %}
{% endif %}
</footer>

<span id="scroll-top"><i class="fa-chevron-up"></i></span>
