#main-content + .region-content .contextual-region {
//  position: inherit; // fixes issue with contextual module's css placing it as relative
}

.main-container {
  padding-bottom: 4em;
}
.region-content {
  .call_out {
    width:25%;
    float:right;
    margin-right:.5em;
    margin-top:.5em;
    margin-bottom:.5em;
    padding-left:.5em;
    padding-right:.5em;
    padding-top:.5em;
    padding-bottom:.5em;
    @include adjust-font-size-to(20px);
    font-style:italic;
    background:$lighter_grey;
    text-align:center;
  }
  img {
   max-width:100%;
  }
}
@media (max-width:$grid-float-breakpoint-max) {
  .region-content {
    img, .call_out {
      height:auto !important;
      float:none;
      display:block;
    }
    img {
     width:auto;
    }
    .call_out {
     width:100%;
    }
  }
}
.feed-icons { display:none; }
figcaption {
  @include adjust-font-size-to(16px);
  padding:.5em;
  font-style:italic;
}
