@import "compass/css3";
footer {
  background-color:$medium-grey;
  color:$light_grey;
  border-top: 8px solid $dark_grey;
  a {
    color: $medium_green;
    @include transition-property(all);
    @include transition-duration(.18s);
    @include transition-timing-function(ease-in-out);
    &:hover {
      color:white;
      text-decoration:none;
    }
  }
  h2.block-title {
    @include adjust-font-size-to(20px,.9);
    color: $lighter_grey;
    display: block;
    border-bottom: 1px solid $footer_border_grey;
    padding-bottom: 6px;
    margin: 0;
    margin: 35px 0;
    @include box-shadow($shadow_grey 0px 1px);
    position: relative;
  }
  .footer_wrap {
    margin: 0 auto;
    padding-bottom: 50px;
    position: relative;
  }
  .footer_right {
    p {
      @include adjust-font-size-to(13px);
      line-height:1.75em;
    }
    img {
      max-width:45%;
    }
  }
  .footer_bottom {
    margin: 0 auto;
    position: relative;
    background:$dark_grey; 
    padding: 26px 0 18px;
    @include adjust-font-size-to(13px);
   }
  .footer_center {
   .mailchimp-newsletter-mergefields {
     .form-item {
       label {
         @include adjust-font-size-to(13px);
       }
     }
   }
  }
}
