header {
  background-color:$light_green;
  border-top:1px solid white;
  //border-bottom:2px solid white;
  
  .logo img {
   max-width:100%;
   //width:850px;
  }
  #search-block-form {
    float:right;
    input[type="search"].form-search {
     float:right;
     margin:10px 0 0 0;
     background-color:$off_white;
     background:#f5f5f5  url('/themes/zika/assets/images/find-ico1.png') no-repeat right;
     border-width:0px;
     border-radius:0;
     padding:5px 28px 5 px 18px;
     min-width:200px;
     width:200px;
     min-height:50px;
     -o-transition: width .22s ease;
     -webkit-transition: width .22s ease;
     -moz-transition: width .22s ease;
     transition: width .22s ease;
     &:focus {
       width: 250px;
       background-color: #fff;
     }
    }
   button[type="submit"] {
     display:none;
   }
  }
  @media (max-width:$grid-float-breakpoint-max) {
    #search-block-form {
      width:100%;
      .input-group {
        width:100%;
        input[type="search"].form-search {
          width:100%;
          &:focus {
            width:100%;
          }
        }
      }
    }
  }
}
