.icon_box_1 {
  padding-left:15px;
  padding-right:15px;
  margin-top:40px;
  margin-bottom:60px;
  &:hover i{
    color:white;
    background:$light_green;
    border-color:$lighter_grey;
    cursor: default;
    box-shadow: 0 0 0 7px #fff, 0 0 0 8px $lighter_grey;
  }
  &>div {
    background-color: $lightest-grey;
    vertical-align: baseline;
    text-align: center;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(15, 15, 15, 0.0666667);
    padding: 20px;
    transition: all 0.2s ease-in-out;
    h3 {
     margin-bottom:20px;
    }
    p {
     margin-bottom:30px;
    }
    a:hover {
      text-decoration:none;
      color:$light_green;
    }
  }
 i {
  @include adjust-font-size-to(36px);
  position:absolute;
  top: -36px;
  left: 50%;
  margin-left: -37px;
  border-radius: 100%;
  cursor: default;
  width: 64px;
  height: 64px;
  text-align: center;
  color:$light_green;
  background:white;
  @include single-transition('all','.3s','ease-in-out');
  }
}


.icon_box_2 {
  p:first-of-type {
    border-top:1px solid $lighter_grey; 
    padding-top:20px;
  }
  .fa,.flaticon-animal,.icon-pregnant {
   color:$light_green;
   text-align:center;
   display:block;
   @include adjust-font-size-to(72px, 2);
   margin-top:30px;
   margin-bottom:30px;
  }
  a:hover { text-decoration:none;}
}
