//Style some classy paragraphs

.grey_background>div{
  background:$lightest_grey;
}

.grey_border>div {
  border:1px solid $lighter_grey;
  padding-left:15px;
  padding-right:15px;
  margin-top:15px;
}

.grey_rollover>div {
  background:white;
  @include transition(all 0.22s ease-in-out);
  &:hover {
    background:$lightest_grey;
  }
}

